/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}


.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	background-color: #020202;
	line-height: 120%;
}

a {
	color: #ffffff;
}

/* style */
.display01 {
	font-size: 160px;
	color: brown;
}

.display02 {
	font-size: 120px;
	line-height: 120%;
}

.display03 {
	font-size: 80px;
	line-height: 120%;
}

.heading01 {
	font-size: 48px;
	line-height: 120%;
}

.heading02 {
	font-size: 40px;

}

.heading03 {
	font-size: 32px;

}

.heading04 {
	font-size: 28px;

}

.heading05 {
	font-size: 24px;

}

.heading06 {
	font-size: 20px;

}

/* .body {
	font-size: 16px;
	line-height: 150%;
} */

.small {
	font-size: 14px;
	line-height: 150%;
}

.tiny {
	font-size: 12px;
	line-height: 150%;
}

.black_100 {
	color: #020202;
}

.black_80 {
	color: #525252;
}

.black_60 {
	color: #919191;
}

.black_40 {
	color: #d1d1d1;
}

.black_20 {
	color: #f2f2f2;
}

.black_0 {
	color: #ffffff;
}

.primary {
	color: #f18724;
}

.surface {
	color: #f2efe7;
}

/* header */

/* * {
	outline: 1px solid orange;
} */



/* .all {
	background-color: #020202;
} */







/* .page {
	max-width: 1296px;
	margin: auto;
} */

.header_container,
.section_container,
.section5_container,
.footer_top,
.copyright {
	max-width: 1296px;
	margin: auto;
	/* 左右15px */
	padding: 0 15px;
}

.container {
	max-width: 1296px;
	margin: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	border-bottom: 1px solid white;
	align-items: center;
}

.header ul {
	display: flex;
	width: 7%;
	justify-content: space-between;
}

.menu {
	display: none;
	color: #ffffff;
}

a {
	text-decoration: none;
}

a span:hover {
	color: #919191;
}

.material-symbols-outlined {

	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}

.header a img {
	width: 50%;
}

.header ul li {
	font-weight: 700;
}



.header_title button {

	margin-top: 40px;
}



.title ul{
	padding: 192px 0px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	font-weight: 900;
}

.title ul li a{
	margin: 0px auto;
	display: flex;
	justify-content: center;
}

.title ul li:not(:last-child){
margin-bottom: 8px;
}



/* 參考程式碼:https://codepen.io/David0799/pen/yLRZObO */

@keyframes motion {
	0% {
		top: 0px;
	}

	30% {
		top: -200px;
	}

	40% {
		left: 600px;
	}

	50% {
		top: 400px;
	}

	80% {
		top: 0px;
	}


}

@media screen and (max-width:767px) {

	.header_container,
	.section_container,
	.section5_container,
	.footer_top,
	.copyright,
	.container {
		max-width: 743px;
		margin: auto;
		padding: 0px 15px;
	}

	/* .header ul {
		display: none;
	} */




	.display02 {
		font-size: 48px;
		line-height: 120%;
	}


	.header ul {
		display: none;
	}

	.menu {
		display: block;
	}
}





.footer_container {
	padding: 0px 15px 0px 15px;
	
}




.copyright {
	display: flex;
	justify-content: space-between;
	padding: 32px 0px;
	flex-wrap: wrap;
	border-top: 1px solid #ffffff;
}

.copyright ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: -40%;
}

.copyright ul li {
	margin-right: 20px;
}

.copyright {
	display: flex;
}

.ai {
	margin-right: 100px;
}

.copyright p {
	font-weight: 700;
}



@media screen and (max-width:767px) {
	

	.copyright p {
		font-size: 16px;

	}

	.copyright ul {
		order: 1;
		margin-left: 0px;
		margin-top: 36px;
	}
}